.change__password {
  width: 35%;
  margin: 8vh auto 0;
  padding: 2%;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;

  &__message {
    margin-bottom: 15%;
    position: relative;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;

    label {
      color: #F19E8E;
      font-weight: 600;
      margin-bottom: 3%;
      font-size: 1.2vw;
    }

    input {
      margin-bottom: 8%;
      height: 40px;
      border: 1px solid rgb(196, 196, 196);
      border-radius: 5px;
      padding-left: 3%;
      font-size: 1.1vw;
      color: rgb(109, 108, 108);
    }

    button {
      margin: 0 auto;
      width: 60%;
      font-size: 1.4vw;
      font-weight: 600;
      letter-spacing: 1px;
      color: #F6688E;
      padding: 3% 6%;
      border: 1px solid #F6688E;
      border-radius: 10px;
      background-color: #faf6f6d0;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 912px) {
  .change__password {
    width: 40%;

    &__form {

      label {
        font-size: 1.4vw;
      }

      input {
        font-size: 1.3vw;
      }

      button {
        font-size: 1.6vw;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .change__password {
    width: 45%;

    &__form {

      label {
        font-size: 1.6vw;
      }

      input {
        font-size: 1.5vw;
      }

      button {
        font-size: 1.8vw;
        border-radius: 6px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .change__password {
    width: 50%;

    &__form {
      padding: 6% 5%;

      label {
        font-size: 1.9vw;
      }

      input {
        font-size: 1.8vw;
        height: 35px;
      }

      button {
        font-size: 2.1vw;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .change__password {
    width: 60%;

    &__form {

      label {
        font-size: 2.5vw;
      }

      input {
        font-size: 2.4vw;
        height: 30px;
      }

      button {
        font-size: 2.8vw;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .change__password {
    width: 70%;

    &__form {
      padding: 8% 7%;

      label {
        font-size: 3vw;
      }

      input {
        font-size: 2.9vw;
        height: 30px;
      }

      button {
        font-size: 3.3vw;
      }
    }
  }
}