.loginform {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 20px;

  &__email,
  &__password {
    width: 90%;
    margin-bottom: 50px;

    &__value {
      display: flex;
      align-items: center;

      &__icon {
        font-size: 20px;
        margin-right: 10px;
      }
  
      &__input {
        width: 90%;
        height: 30px;
        border-radius: 5px;
        border: none;
        padding: 5px
      }
    }

  }

  &__forgot__password {
    margin-top: 10px;
    font-size: 14px;
  }

  &__button {
    width: 50%;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
  }
}