.accountmenu {
  width: 20%;

  &__item {
    min-height: 70vh;
    background-color: rgba(207, 211, 211, 0.479);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    a {
      margin-bottom: 20px;
    }
  }
}