.accountmenu {
  width: 100%;

  &__item {
    background-color: #f19e8ed0;
    border: 2px solid #eeeeeeb9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    &__dashboard,
    &__userInfo,
    &__myorders,
    &__changepassword {
      text-decoration: none;
      margin-bottom: 12%;
    }

    span,
    button {
      color: #eeeeee;
      font-size: 1.1vw;
    }

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      margin-top: 15px;
      text-decoration: underline;
      letter-spacing: 1px;
    }
  }
}

@media screen and (max-width: 912px) {
  .accountmenu {
    &__item {

      span,
      button {
        font-size: 1.4vw;
      }

    }
  }
}

@media screen and (max-width: 750px) {
  .accountmenu {
    &__item {

      span,
      button {
        font-size: 1.7vw;
      }

    }
  }
}

@media screen and (max-width: 600px) {
  .accountmenu {
    &__item {
      padding: 5px;

      span,
      button {
        font-size: 1.9vw;
      }

    }
  }
}

@media screen and (max-width: 450px) {
  .accountmenu {
    &__item {

      span,
      button {
        font-size: 2.2vw;
      }

    }
  }
}

@media screen and (max-width: 350px) {
  .accountmenu {
    &__item {

      span,
      button {
        font-size: 2.7vw;
      }

    }
  }
}