.product__groups {
  padding-block: 50px;
  max-width: 100%;
  background-color: #fff6fa;

  &__title {
    text-align: center;

    h1 {
      font-size: 2.5vw;
      letter-spacing: 1px;
      color: #F6688E;
    }
  }

  &__list {
    width: 100%;
    padding: 0 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 912px) {
  .product__groups {
    &__title {
      h1 {
        font-size: 3vw;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .product__groups {
    &__title {
      h1 {
        font-size: 3.5vw;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .product__groups {
    &__title {
      h1 {
        font-size: 4vw;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .product__groups {
    &__title {
      h1 {
        font-size: 4.5vw;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .product__groups {
    &__title {
      h1 {
        font-size: 6vw;
      }
    }
  }
}