.product__group__item {
  text-align: center;
  list-style: none;
  flex: 33%;
  margin-bottom: 30px;

  &__link {
    text-decoration: none;

    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 10px 0px 176px -39px rgba(109, 109, 109, 0.2);
      border: 8px dotted #F19E8E;
    }

    div {
      width: 50%;
      margin: 15px auto 0;
      border: 2px solid #F19E8E;
      padding: 10px 20px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
      color: #F19E8E;
      font-size: 80%;
      font-weight: 500;
      transition: all .2s linear;

      &:hover {
        background-color: #F19E8E;
        color: #ebebeb;
      }
    }
  }
}

@media screen and (max-width: 912px) {
  .product__group__item {

    &__link {

      img {
        width: 250px;
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 912px) {
  .product__group__item {

    &__link {

      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}