.product__group__item {
  width: 80%;
  text-align: center;
  list-style: none;

  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 0px 176px -39px rgba(109, 109, 109, 0.2);
    border: 10px dotted #F19E8E;
  }

  &__link {
    text-decoration: none;
  }
}