.header__menu__search {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  input {
    width: 88%;
    height: 35px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    background-color: #eeeeeeb9;
    padding-left: 10px;
    font-size: 1.25vw;
  }

  &__icon {
    border: none;
    background-color: #F19E8E;
    color: #ebebeb;
    position: absolute;
    right: 0;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 800;
    letter-spacing: 1px;

  }
}

@media screen and (max-width: 912px) {
  .header__menu__search {
    position: absolute;
    width: 40%;
    top: 120px;
    left: 25%;

    input {
      width: 80%;
      font-size: 1.5vw;
    }
  }
}

@media screen and (max-width: 750px) {
  .header__menu__search {
    position: absolute;
    width: 48%;
    top: 120px;
    left: 15%;

    input {
      width: 80%;
      height: 30px;
      font-size: 1.75vw;
    }

    &__icon {
      padding: 6px 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header__menu__search {
    position: absolute;
    width: 45%;
    top: 120px;
    left: 15%;

    input {
      width: 75%;
      height: 30px;
      font-size: 1.75vw;
    }

    &__icon {
      padding: 6px 10px;
    }
  }
}

@media screen and (max-width: 500px) {
  .header__menu__search {
    position: absolute;
    width: 42%;
    top: 120px;
    left: 16%;

    input {
      width: 75%;
      height: 28px;
      font-size: 2.25vw;
    }

    &__icon {
      padding: 5px 8px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 450px) {
  .header__menu__search {
    position: absolute;
    width: 42%;
    top: 120px;
    left: 20%;

    input {
      width: 75%;
      height: 28px;
      font-size: 2.25vw;
    }

    &__icon {
      padding: 5px 8px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 400px) {
  .header__menu__search {
    position: absolute;
    width: 42%;
    top: 120px;
    left: 18%;

    input {
      width: 67%;
      height: 28px;
      font-size: 2.25vw;
    }

    &__icon {
      padding: 5px 8px;
      font-size: 12px;
    }
  }
}