.dashboard__panel {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #fde166c7;
  padding: 3%;

  &__logo {
    margin-bottom: 20%;
  }

  &__main,
  &__products,
  &__createproduct,
  &__orders,
  &__users,
  &__reviews {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 35%;
  }

  &__icon {
    font-size: 2vw;
    margin-right: 8%;
  }

  h4 {
    font-size: 1.2vw;
  }
}