.loginform {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 20px;

  &__email {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    width: 90%;

    &__icon {
      font-size: 20px;
      margin-right: 10px;
    }

    &__input {
      width: 90%;
      height: 30px;
      border-radius: 5px;
      border: none;
      padding: 5px
    }
  }

  &__password {
    @extend .loginform__email;

    &__icon {
      @extend .loginform__email__icon;
    }

    &__input {
      @extend .loginform__email__input;
    }
  }

  &__button {
    width: 50%;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
  }
}