.product__list {
    display: flex;
    margin-top: 30px;
    justify-content: center;

    &__filtered__products__card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}