.login {
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.shopify.com/s/files/1/0272/4770/6214/articles/when-do-puppies-start-walking.jpg?v=1593020034");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}