.loading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fde16671;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__paw {
    width: 10%;
    height: 35%;
    background-color: aqua;
    position: relative;

    &__item1 {
      font-size: 5vw;
      color: #F6688E;
      position: absolute;
      bottom: 0;
      right: 0;
      animation-name: paw1;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    &__item2 {
      font-size: 5vw;
      color: #F6688E;
      position: absolute;
      top: 50%;
      left: 0%;
      animation-name: paw2;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes paw1 {
  0% {
    bottom: 0;
    right: 0;
  }

  100% {
    top: 0;
    left: 0;
    opacity: 1;
  }

  // 100% {
  //   bottom: 0;
  //   right: 0;
  // }
}

@keyframes paw2 {
  0% {
    top: 50%;
    left: 0%;
  }

  100% {
    top: 25%;
    left: 50%;
  }

  // 100% {
  //   top: 50%;
  //   left: 0%;
  // }
}

// @keyframes paw2 {
//   0% {
//     top: 50%;
//     left: 0%;
//   }

//   100% {
//     top: 0;
//     left: 0;
//   }

//   // 100% {
//   //   top: 50%;
//   //   left: 0%;
//   // }
// }