* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// HEADER
.header {
  padding: 30px 50px;
  width: 100%;
  min-height: 20vh; //?
  border-bottom: 1px solid gray;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    &__links {
      @extend .header__menu;
      width: 40%;
      list-style: none;
  
      li a {
        text-decoration: none;
      }
    }
  
    &__icons {
      @extend .header__menu;
      width: 12%;
    }
  }
}

