.mybasket {
  width: 85%;
  margin: 50px auto;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  padding: 3%;
  text-align: center;

  h1 {
    color: #F6688E;
    font-size: 1.8vw;
    letter-spacing: 1px;
  }

  &__products {
    border-collapse: collapse;
    width: 100%;

    td {
      border: none;
    }

    &__image {
      width: 10%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &__name {
      width: 40%;

      h5 {
        font-size: 1.1vw;
        color: rgb(109, 108, 108);
      }
    }

    &__quantity {
      width: 10%;

      h3 {
        font-size: 1.1vw;
        color: rgb(109, 108, 108);
      }
    }

    &__price {
      width: 20%;

      h3 {
        font-size: 1.3vw;
        color: #F19E8E;
      }
    }

    &__buttons {
      width: 20%;

      button {
        margin: 0 auto;
        font-size: 1.1vw;
        background-color: #F6688E;
        color: #faf6f6b9;
        border: none;
        border-radius: 5px;
        width: 100%;
        padding: 3% 5%;

        &:first-child {
          margin-bottom: 6%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__confirm {
    width: 26%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
      width: 100%;
      font-size: 1.3vw;
      font-weight: 600;
      letter-spacing: 1px;
      color: #F6688E;
      padding: 3% 6%;
      border: 1px solid #F6688E;
      border-radius: 10px;
      background-color: #faf6f6d0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &__paw {
        font-size: 2.5vw;
        color: #F6688E;
        margin-right: 6%;
      }
    }
  }
}

@media screen and (max-width: 912px) {
  .mybasket {
    &__products {

      &__image {
        width: 12%;
      }

      &__name {
        h5 {
          font-size: 1.3vw;
        }
      }

      &__quantity {
        h3 {
          font-size: 1.3vw;
        }
      }

      &__price {
        width: 18%;

        h3 {
          font-size: 1.5vw;
        }
      }

      &__buttons {
        button {
          font-size: 1.3vw;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .mybasket {
    &__products {

      &__image {
        width: 14%;
      }

      &__name {
        h5 {
          font-size: 1.5vw;
        }
      }

      &__quantity {
        h3 {
          font-size: 1.5vw;
        }
      }

      &__price {
        width: 16%;

        h3 {
          font-size: 1.7vw;
        }
      }

      &__buttons {
        button {
          font-size: 1.5vw;
        }
      }
    }

    &__confirm {
      width: 28%;

      &__button {
        font-size: 1.5vw;
        border-radius: 8px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .mybasket {
    &__products {

      &__image {
        width: 16%;
      }

      &__name {
        width: 38%;

        h5 {
          font-size: 1.7vw;
        }
      }

      &__quantity {
        h3 {
          font-size: 1.7vw;
        }
      }

      &__price {

        h3 {
          font-size: 1.9vw;
        }
      }

      &__buttons {
        button {
          font-size: 1.7vw;
        }
      }
    }

    &__confirm {
      width: 30%;

      &__button {
        font-size: 1.7vw;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .mybasket {
    &__products {

      &__image {
        width: 18%;
      }

      &__name {
        width: 34%;

        h5 {
          font-size: 1.9vw;
        }
      }

      &__quantity {
        h3 {
          font-size: 1.9vw;
        }
      }

      &__price {

        h3 {
          font-size: 2.1vw;
        }
      }

      &__buttons {
        width: 22%;

        button {
          padding: 5% 8%;
        }
      }
    }

    &__confirm {
      width: 32%;

      &__button {
        font-size: 1.9vw;
        border-radius: 6px;

        &__paw {
          font-size: 2.7vw;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .mybasket {
    &__products {

      &__image {
        width: 20%;
      }

      &__name {
        width: 28%;

        h5 {
          font-size: 2.1vw;
        }
      }

      &__quantity {
        h3 {
          font-size: 2.1vw;
        }
      }

      &__price {

        h3 {
          font-size: 2.3vw;
        }
      }

      &__buttons {
        width: 26%;

        button {
          font-size: 1.9vw;
          // padding: 5% 8%;
        }
      }
    }

    &__confirm {
      width: 38%;

      &__button {
        font-size: 2.2vw;
        border-radius: 4px;

        &__paw {
          font-size: 3vw;
        }
      }
    }
  }
}