.info {
  width: 50%;
  line-height: 40px;
  text-align: center;

  h2 {
    font-size: 1.6vw;
    color: #F19E8E;
  }

  span {
    font-size: 1.2vw;
    color: rgb(109, 108, 108);
  }

  h4 {
    font-size: 1vw;
    color: rgb(226, 84, 120);
  }

  &__add__basket {
    width: 70%;
    border: none;
    padding: 3%;
    font-size: 1.3vw;
    border-radius: 5px;
    letter-spacing: 3px;
    margin: 20px auto;
    background-color: #F6688E;
    color: #faf6f6b9;
    cursor: pointer;

    &:disabled {
      background-color: #faf6f6b9;
      color: #cececeb9;
    }
  }

  &__desc {
    font-size: 0.9vw;
    color: rgb(109, 108, 108);
    text-align: left;
    line-height: 25px;
  }
}

@media screen and (max-width: 912px) {
  .info {
    width: 45%;
    line-height: 30px;

    &__desc {
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 750px) {
  .info {
    line-height: 35px;
    width: 60%;

    h2 {
      font-size: 2.5vw;
    }

    span {
      font-size: 2.1vw;
    }

    h4 {
      font-size: 1.9vw;
    }

    &__add__basket {
      font-size: 2.2vw;
    }

    &__desc {
      font-size: 1.2vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .info {
    line-height: 35px;

    h2 {
      font-size: 2.9vw;
    }

    span {
      font-size: 2.5vw;
    }

    h4 {
      font-size: 2.3vw;
    }

    &__add__basket {
      font-size: 2.6vw;
    }

    &__desc {
      font-size: 1.8vw;
      line-height: 15px;
    }
  }
}

@media screen and (max-width: 450px) {
  .info {
    width: 70%;

    h2 {
      font-size: 3.4vw;
    }

    span {
      font-size: 3vw;
    }

    h4 {
      font-size: 2.8vw;
    }

    &__add__basket {
      font-size: 3.1vw;
    }

    &__desc {
      font-size: 2.1vw;
    }
  }
}

@media screen and (max-width: 350px) {
  .info {
    width: 90%;

    h2 {
      font-size: 3.9vw;
    }

    span {
      font-size: 3.5vw;
    }

    h4 {
      font-size: 3.3vw;
    }

    &__add__basket {
      font-size: 3.6vw;
    }

    &__desc {
      font-size: 2.8vw;
      line-height: 12px;
    }
  }
}