.edit {
  width: 80%;
  display: flex;
  padding: 3%;

  &__order {
    padding: 5%;
    margin-right: 3%;
    width: 70%;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    background-color: white;
    overflow-y: scroll;
    line-height: 30px;
    box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.75);

    h2 {
      font-size: 1.5vw;
      color: #F6688E;
      letter-spacing: 1px;
      text-decoration: underline;
      margin-bottom: 2%;
    }

    &__shippingInfo {
      margin-bottom: 5%;

      p {
        font-size: 1.1vw;
        color: rgb(109, 108, 108);

        span {
          font-weight: 600;
          margin-right: 1%;
          letter-spacing: 1px;
        }
      }
    }

    &__payment {
      margin-bottom: 5%;

      .paid {
        color: #BFF128;
        font-weight: 600;
        font-size: 1.2vw;
      }

      p {
        font-size: 1.1vw;
        color: rgb(109, 108, 108);
        line-height: 30px;

        span {
          font-weight: 600;
          margin-right: 1%;
          letter-spacing: 1px;
        }
      }
    }

    &__status {
      margin-bottom: 5%;

      p {
        font-size: 1.1vw;
        color: rgb(109, 108, 108);
        line-height: 30px;
      }
    }

    &__products {
      width: 100%;

      &__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(196, 196, 196);

        &:last-child {
          border-bottom: none;
        }

        img {
          width: 10%;
        }

        p {
          font-size: 1.1vw;
          color: rgb(109, 108, 108);

          span {
            margin-right: 1%;
          }

          &:last-child {
            width: 25%;
          }
        }
      }
    }
  }

  &__process {
    width: 30%;
    margin: auto;
    background-color: white;
    border: 2px solid #F6688E;
    padding: 5% 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.75);
    position: relative;

    &__form {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 1.4vw;
        color: #F6688E;
        letter-spacing: 1px;
        margin-bottom: 2%;
        text-align: center;
        margin-bottom: 5%;
      }

      select {
        width: 100%;
        margin-block: 4%;
        height: 40px;
        font-size: 1.1vw;
        padding-left: 2%;
        border: 1px solid rgb(196, 196, 196);
        border-radius: 5px;
        color: rgb(109, 108, 108);
      }

      button {
        width: 100%;
        color: #F6688E;
        background-color: #faf6f6d0;
        border: 1px solid #F6688E;
        border-radius: 5px;
        padding: 3% 6%;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 1.2vw;
        margin-top: 4%;
      }

      .updated {
        border: 1px solid #acdf13;
        color: #acdf13;
      }
    }
  }
}