.signup {
  width: 26%;
  height: 70vh;
  background-color: rgba(250, 248, 248, 0.3);
  position: relative;
  top: 14%;
  left: 12%;
  clip-path: inset(5px 5px 5px round 5px);

  &__buttons {
    display: flex;

    &__item {
      width: 50%;
      padding: 20px;
      background-color: white;
      
      text-align: center;
    }
  }

  &__forms {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__login,
    &__register {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 50px;

      input {
        margin: 30px 10px;
        line-height: 30px;
      }
     
      button {
        padding: 6px 60px;
      }
      
    }
  }
}
.select {
  border-bottom: 5px solid rgb(117, 0, 128);
  background-color: rgb(207, 198, 203);
}