.signup {
  width: 30%;
  height: 70vh;
  background-color: #eeeeeeb9;
  clip-path: inset(5px 5px 5px round 5px);
  position: fixed;

  &__buttons {
    display: flex;

    &__login {
      width: 50%;
      padding: 1.25rem;
      text-align: center;
      color: #9b9898;
      font-size: 1.5vw;
      font-weight: 600;
      letter-spacing: 0.06rem;

    }

    &__register {
      width: 50%;
      padding: 1.25rem;
      text-align: center;
      color: #9b9898;
      font-size: 1.5vw;
      font-weight: 600;
      letter-spacing: 0.06rem;
    }
  }

  &__forms {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.select {
  border-bottom: 10px solid #F6688E;
  background-color: #F19E8E;
  color: #ebebeb;
  transition: background-color 0.5s;
}

// @keyframes changeForm {}

@media screen and (max-width: 912px) {
  .signup {
    width: 35%;
  }
}

@media screen and (max-width: 750px) {
  .signup {
    width: 40%;

    &__buttons {
      &__item {
        font-size: 2vw;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .signup {
    width: 55%;

    &__buttons {
      &__item {
        font-size: 2.5vw;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .signup {
    width: 80%;

    &__buttons {
      &__item {
        font-size: 3.5vw;
      }
    }
  }
}

@media screen and (max-width: 280px) {
  .signup {
    width: 90%;

    &__buttons {
      &__item {
        font-size: 5vw;
      }
    }
  }
}