.product__images {
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__selected {
    position: relative;

    &__item {
      width: 100%;
      border: 1px solid rgb(196, 196, 196);
      border-radius: 8px;
      object-fit: cover;
    }

    &__favoritebutton {
      position: absolute;
      top: 8%;
      right: 8%;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    &__item {
      width: 20%;
      border: 1px solid rgb(196, 196, 196);
      border-radius: 5px;
      padding: 5px;
      margin: 10px;
      object-fit: cover;
    }

    .selected {
      border: 2px solid #F19E8E;
      border-radius: 5px;
      width: 25%;
    }
  }
}

@media screen and (max-width: 912px) {
  .product__images {
    min-width: 30%;
  }
}

@media screen and (max-width: 750px) {
  .product__images {
    min-width: 40%;
  }
}

@media screen and (max-width: 650px) {
  .product__images {
    min-width: 45%;
  }
}

@media screen and (max-width: 450px) {
  .product__images {
    min-width: 50%;
  }
}

@media screen and (max-width: 350px) {
  .product__images {
    min-width: 55%;

    &__selected {
      &__favoritebutton {
        top: 5%;
        right: 5%;
      }
    }
  }
}